@use "../../../globals" as *;

.user-details-content {
  width: 100%;
  @include flex(column, flex-start, flex-start, 24px);

  & .user-details-row {
    width: 100%;
    @include flex(row, space-between, center);

    & p {
      all: unset;
      width: 50%;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: $neutral-800;
      @include flex(column, center, flex-start, 8px);

      & span {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }
}

.user-details-content-with-overflow {
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 24px;

  @include scrollThin();
}


@media screen and (max-width: 768px) {
  .user-details-content { 
    width: 90vw;
  }
}