@use "../../../globals" as *;

.register-form-container {
    width: 720px;

  .register-form-content-container {
    width: 100%;

    .input-label {
        font-size: 14px;
    }

    .register-form-content-row {
      @include flex(row, space-between, center, 24px);
    }
  }

  .register-form-content-with-overflow {
    overflow: auto;
    padding-right: 16px;
    padding-left: 6px;
    margin-left: 8px;

    /* Personalización del scroll */
    scrollbar-width: thin;
    scrollbar-color: $primary-300 transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
      border-radius: 10px;
      border: 2px solid transparent;
    }

    &::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
    }
  }
}
