@use "../../globals" as *;

.auth-form-container {
  @include flex(column, flex-start, center, 24px);
  width: 50%;
  height: 100%;
  overflow-x: auto;

  .otw-logo {
    margin-bottom: 12px;

    @media screen and (max-height: 500px) {
      display: none;
    }
  }

  .auth-form {
    @include flex(column, center, center, 16px);
    width: 45%;
    height: 110%;

    .password-header {
      @include flex(row, flex-start, center, 8px);
      width: 100%;

      .link {
        @include flex(row, flex-start, center);
      }

      h3 {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .inputs-container {
      @include flex(column, flex-start, center);
      width: 100%;

      .auth-form-error {
        font-size: 14px;
        color: $error-500;
        margin-left: 8px;
        margin-top: 8px;
      }

      @media screen and (max-height: 500px) {
        margin-top: 24px;
      }
    }

    .forgotten-password {
      align-self: flex-start;
      font-size: 16px;
      color: $neutral-900;

      .password-link {
        all: unset;
        color: $primary-500;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button[type="submit"] {
      all: unset;
      cursor: pointer;
      @include flex(row, center, center);
      width: 100%;
      background-color: $primary-600;
      color: $generic-white;
      border-radius: 12px;
      padding: 12px 0;
      margin-top: 32px;
    }

    @media screen and (max-height: 470px) {
      @include flex(column, flex-start, center, 16px);
    }
  }
}

@media screen and (max-width: 1400px) {
  .auth-form-container {
    .auth-form {
      width: 60%;
    }
  }
}

@media screen and (max-width: 860px) {
  .auth-form-container {
    width: 100%;
    gap: 0;

    .otw-logo {
      margin-top: 16px;
    }

    .auth-form {
      width: 90%;
    }
  }
}
