@use "../../../globals" as *;

.quotes-history-container {
  @include adminContainer();

  .quotes-history-header {
    @include header();
    @include flex(row, flex-start, center, 16px);

    button {
      all: unset;
      cursor: pointer;
      @include flex(row, center, center);
    }
  }

  .quotes-history-handler {
    @include flex(row, space-between, center, 24px);
    width: 100%;

    .quotes-history-register-handler,
    .quotes-history-select-handler,
    .quotes-history-search-handler {
      width: 32%;
    }

    .quotes-history-register-handler {
      button[type="button"] {
        padding: 11px 16px;
      }
    }

    .quotes-history-search-handler {
      .input-container {
        margin: 0;

        .input {
          @include flex(row-reverse, space-between, center);

          input {
            padding: 10px 16px;
            padding-left: 0;
          }

          img {
            margin-right: 8px;
            margin-left: 8px;
            cursor: text;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .quotes-history-container {
    .quotes-history-header {
      button {
        display: none;
      }
    }

    .quotes-history-handler {
      @include flex(column, center, flex-start, 16px);

      .quotes-history-register-handler,
      .quotes-history-select-handler,
      .quotes-history-search-handler {
        width: 100%;
      }
    }

    .custom-list-container {
      li {
        span {
          width: 15%;

          &:nth-child(2) {
            width: 35%;
            margin-left: 8px;
          }

          &:nth-child(3) {
            width: 50%;
          }
        }
      }

      .custom-list-row {
        span {
          &:nth-child(3) {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
