@use "@/styles/globals" as *;

.new-quote-container {
  @include adminContainer();

  .new-quote-header {
    @include header();
    @include flex(row, flex-start, center, 16px);

    button {
      all: unset;
      cursor: pointer;
      @include flex(row, center, center);
    }
  }

  .new-quote-content {
    @include flex(column, space-between, center, 32px);
    width: 100%;
    padding: 24px 0;
    background-color: $generic-white;
    border-radius: 24px;

    .new-quote-stages-container {
      @include flex(row, flex-start, center, 8px);
      width: 95%;

      span {
        color: $neutral-800;
        font-weight: 600;
      }

      .new-quote-stage-divider {
        height: 1px;
        width: 40px;
        background-color: $neutral-200;
      }
    }

    .new-quote-form {
      @include flex(column, center, center, 36px);
      width: 95%;

      .new-quote-form-content {
        @include flex(row, space-between, center, 24px);
        width: 100%;

        .input-container {
          margin: 0;
        }

        button[type="button"] {
          white-space: nowrap;
          padding: 12px 16px;
          background: none;
          color: $primary-600;
          font-weight: 500;

          &:hover {
            color: $primary-700;
          }

          &:active {
            color: $primary-800;
          }
        }
      }

      .new-quote-form-footer {
        @include flex(row, flex-end, center, 24px);
        width: 100%;

        button,
        .button {
          padding: 12px 16px;
        }

        .button {
          background-color: $primary-100;
          color: $primary-600;
          font-weight: 500;

          &:hover {
            background-color: $primary-200;
            color: $primary-700;
          }

          &:active {
            background-color: $primary-300;
            color: $primary-800;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .quotes-history-container {
    .quotes-history-header {
      button {
        display: none;
      }
    }
  }
}
