@use "../../../globals" as *;

.new-quote-form-vehicles {
  @include flex(row, space-between, center, 24px, wrap);
  width: 95%;
  margin-bottom: 24px;

  .new-quote-vehicle-container {
    @include flex(column, center, center, 0);
    width: 48%;
    background-color: $neutral-50;
    border: 1px solid $neutral-200;
    border-radius: 24px;
    padding: 18px 0;
    cursor: pointer;

    .new-quote-vehicle-header {
      @include flex(row, space-between, center);
      width: 100%;

      span {
        margin-left: 24px;
        background-color: $generic-white;
        padding: 8px 16px;
        border: 1px solid $neutral-200;
        border-radius: 8px;
      }

      button {
        all: unset;
        margin-right: 24px;
      }
    }

    .new-quote-vehicle-icon {
      @include flex(row, center, center);
      border-bottom: 1px solid $neutral-200;
      width: 90%;

      img {
        margin-top: 24px;
      }
    }

    .new-quote-vehicle-info {
      @include flex(column, center, center);
      width: 100%;
      margin-top: 8px;

      h3 {
        all: unset;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        color: $neutral-800;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 8px;
        color: $neutral-600;
      }
    }

    &:nth-child(6) {
      width: 100%;
    }
  }

  .new-quote-vehicle-container-selected {
    background-color: $primary-100;
    border-color: $primary-500;
  }

  .new-quote-form-footer {
    @include flex(row, flex-end, center, 24px);
    width: 100%;
    margin-top: 24px;

    button,
    .button {
      padding: 12px 16px;
    }

    .button {
      background-color: $primary-100;
      color: $primary-600;
      font-weight: 500;

      &:hover {
        background-color: $primary-200;
        color: $primary-700;
      }

      &:active {
        background-color: $primary-300;
        color: $primary-800;
      }
    }
  }
}
