@use "../../../globals" as *;

.quote-details-form {
  & .new-quote-resume-customer {
    width: 100%;
    background-color: $primary-50;
    border-radius: 24px;
    padding: 40px 0;

    @include flex(row, space-between, center, 16px);

    & .user-photo-container {
      overflow: hidden;
      width: 64px;
      height: 64px;
      border-radius: 18px;
      background-color: $primary-200;
      margin-left: 32px;

      @include flex(row, center, center);

      & .user-photo {
        width: 70%;
        height: 80%;
        opacity: 25%;
      }
    }

    & .new-quote-resume-customer-content {
      width: 85%;
      @include flex(column, center, flex-start, 8px);

      & p {
        all: unset;
      }

      & .new-quote-resume-customer-content-title {
        @include flex(row, flex-start, center, 16px);

        & p {
          &:first-child {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: $neutral-800;
          }

          &:last-child {
            font-size: 16px;
            line-height: 24px;
            color: $neutral-500;
          }
        }
      }

      & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $neutral-800;
      }
    }

    & button[type="button"] {
      all: unset;
      cursor: pointer;
      margin-right: 32px;
      white-space: nowrap;
      padding: 12px 16px;
      background: none;
      color: $primary-600;
      font-weight: 500;

      &:hover {
        color: $primary-700;
      }

      &:active {
        color: $primary-800;
      }
    }
  }

  & .new-quote-resume {
    width: 100%;
    background-color: $primary-50;
    border-radius: 24px;
    padding: 40px 0;

    & .new-quote-resume-details {
      width: 100%;
      cursor: pointer;
      @include flex(column, normal, center, 16px);

      & .new-quote-resume-details-row {
        width: 90%;
        @include flex(row, space-between, center);

        & p {
          all: unset;
          color: $neutral-800;

          & span {
            margin-left: 8px;
          }
        }

        & .admin-name {
          font-weight: 600;
        }

        & .quote-state {
          white-space: nowrap;
          color: $generic-white;
          padding: 0 12px;
          border-radius: 32px;
          font-size: 14pxs;
        }

        & .comments-lenght {
          background-color: $neutral-100;
          padding: 8px 12px;
          border-radius: 12px;
          font-size: 14px;
          color: $neutral-700;
        }

        & img {
          @include flex(row, center, center);
        }

        &:last-child {
          margin-top: 8px;
        }
      }
    }

    & .new-quote-summary-item {
      width: 90%;

      & .new-quote-summary-item-handler {
        width: 50%;
        @include flex(row, space-between, center);

        & p {
          all: unset;
          color: $neutral-800;
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
          text-align: right;
        }
      }
    }

    & .input-container {
      width: 90%;
    }

    & .new-quote-resume-footer {
      width: 90%;
      @include flex(row, flex-end, flex-start);
    }

    & .new-quote-request-comments {
      all: unset;
      list-style: none;
      margin-top: 32px;
      @include flex(column, flex-start, center, 16px);

      & li {
        width: 90%;
        padding: 16px 24px 24px 24px;
        background-color: $generic-white;
        border-radius: 16px;

        & .new-quote-request-comments-header {
          @include flex(row, flex-start, center, 16px);

          & .user-photo-container {
            margin: 0;
            width: 32px;
            height: 32px;
            border-radius: 12px;
          }

          & h3 {
            font-size: 16px;
            font-weight: 600;
          }

          & span {
            color: $neutral-500;
            font-size: 14px;
          }
        }

        & p {
          all: unset;
          color: $neutral-500;
        }
      }
    }

    & .add-comment-button {
      all: unset;
      cursor: pointer;
      color: $primary-600;
      font-weight: 500;
      padding: 12px;
      align-self: flex-end;
      margin-right: 40px;
      margin-top: 24px;
    }
  }
}


@media screen and (max-width: 900px) {
  .quote-details-form {
    & .new-quote-resume-customer {
      padding: 24px 0;
  
      @include flex(column, flex-start, center, 24px);
  
      & .user-photo-container {
        width: 120px;
        height: 120px;
        margin: 0;
  
        @include flex(row, center, center);
      }
  
      & .new-quote-resume-customer-content {
        width: 85%;
        @include flex(column, center, flex-start, 8px);
  
        & p {
          all: unset;
        }
  
        & .new-quote-resume-customer-content-title {
          flex-wrap: wrap;
        }
      }
    }
  
    & .new-quote-resume {
      width: 100%;
      background-color: $primary-50;
      border-radius: 24px;
      padding: 40px 0;
  
      & .new-quote-resume-details {
        width: 100%;
        cursor: pointer;
        @include flex(column, normal, center, 16px);
  
        & .new-quote-resume-details-row {
          width: 90%;
          @include flex(row, space-between, center);
  
          & p {
            all: unset;
            color: $neutral-800;
  
            & span {
              display: none;
            }
          }
        }
      }
  
      & .new-quote-summary-item {
        & .new-quote-summary-item-handler {
          width: 50%;
          @include flex(row, space-between, center, 8px);
        }
      }
  
      & .new-quote-request-comments {
        width: 90%;
  
        & li {
  
          & .new-quote-request-comments-header {
            @include flex(row, flex-start, center, 16px, wrap);
  
            & span {
              margin-bottom: 16px;
            }
          }
  
          & p {
            all: unset;
            color: $neutral-500;
          }
        }
      }
  
      & .add-comment-button {
        all: unset;
        cursor: pointer;
        color: $primary-600;
        font-weight: 500;
        padding: 12px;
        align-self: flex-end;
        margin-right: 40px;
        margin-top: 24px;
      }
    }
  }
}