@use "../../globals" as *;

.admin-container {
  @include flex(row, flex-start, normal);
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  scrollbar-gutter: stable;

  .admin-content-container {
    @include flex(row, center, flex-start);
    width: 85%;
    background-color: $secondary-50;
    margin-left: calc(15% + 10px);
  }
}

@media screen and (max-width: 768px) {
  .admin-container {
    .admin-content-container {
      @include flex(row, center, flex-start);
      width: 100%;
      background-color: $secondary-50;
      margin-left: 0;
    }
  }
}
