@use "../../globals" as *;

.admin-settings-container {
  @include adminContainer();

  .admin-settings-header {
    @include header();
  }

  .admin-settings-info {
    @include flex(row, space-between, center);
    width: 100%;
    background-color: $primary-100;
    border: 1px solid $primary-200;
    border-radius: 24px;

    .photo-container {
      @include flex(column, center, center);
      padding: 0 24px;
      padding-top: 28px;

      .image-container {
        @include flex(row, center, center);
        overflow: hidden;
        width: 120px;
        height: 120px;
        border-radius: 16px;
        background-color: $primary-200;

        p {
          font-size: 24px;
          font-weight: 700;
          color: $primary-900;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .not-has-photo {
          width: 70%;
          height: 80%;
          opacity: 25%;
        }
      }

      button[type="button"] {
        transform: translate(0, -50%);
      }

      .photo-options {
        all: unset;
        list-style: none;
        position: absolute;
        background-color: $generic-white;
        border-radius: 12px;
        overflow: hidden;
        transform: translate(0, 120%);

        li {
          padding: 12px 24px 12px 18px;
          cursor: pointer;
          color: $neutral-800;
          font-size: 16px;

          &:first-child {
            border-bottom: 1px solid $neutral-100;
          }

          &:hover {
            background-color: $neutral-50;
          }
        }
      }
    }

    .admin-settings-profile-info {
      @include flex(column, space-evenly, flex-start, 12px);
      width: 100%;
      margin-bottom: 24px;

      .profile-info-header-container {
        @include flex(row, flex-start, center, 24px);

        h5 {
          all: unset;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: $neutral-800;
        }

        button[type="button"] {
          all: unset;
          cursor: pointer;
          @include flex(row, center, center);
          align-self: flex-start;
        }
      }

      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $neutral-700;
      }
    }
  }

  .admin-settings-content {
    @include flex(row, space-between, center, 24px);
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .admin-settings-container {
    .admin-settings-info {
      @include flex(column, flex-start, center);

      .admin-settings-profile-info {
        @include flex(column, flex-start, center, 8px);

        .profile-info-header-container {
          @include flex(row, center, center, 8px);
          width: 100%;

          h5 {
            font-size: 16px;
            line-height: 24px;
          }

          button[type="button"] {
            margin-right: 8px;
          }
        }

        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: $neutral-700;
        }
      }
    }
    
    .admin-settings-content {
      flex-wrap: wrap;
    }
  }
}
