@use "../../globals" as *;

.admin-settings-handler-container {
  @include flex(column, space-between, flex-start);
  width: 50%;
  min-height: 180px;
  background-color: $generic-white;
  padding: 24px 24px 32px 24px;
  border-radius: 24px;

  .admin-settings-handler-header {
    @include flex(row, space-between, center);
    width: 100%;

    span {
      all: unset;
      font-weight: 600;
      line-height: 22px;
      color: $neutral-800;
    }

    img {
      @include flex(row, center, center);
      background-color: $secondary-50;
      padding: 16px;
      border-radius: 50%;
    }
  }

  p {
    color: $neutral-400;
    font-size: 14px;

    span {
      color: $primary-500;
      white-space: nowrap;
    }
  }

  .current-email {
    color: $neutral-700;
  }
}

@media screen and (max-width: 768px) {
    .admin-settings-handler-container {
        width: 100%;
    }
  }