@use "../../globals" as *;

.admin-users-container {
  @include adminContainer();

  .admin-users-header {
    @include header();
  }

  .admin-users-handler {
    @include flex(row, space-between, center, 24px);
    width: 100%;

    .user-register-handler,
    .user-select-handler,
    .user-search-handler {
      width: 32%;
    }

    .user-register-handler {
      button[type="button"] {
        padding: 11px 16px;
      }
    }

    .user-select-handler {
      .custom-select-container {
        gap: 0;
      }
    }

    .user-search-handler {
      .input-container {
        margin: 0;

        .input {
          @include flex(row-reverse, space-between, center);

          input {
            padding: 10px 16px;
            padding-left: 0;
          }

          img {
            margin-right: 8px;
            margin-left: 8px;
            cursor: text;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .admin-users-container {
    .admin-users-handler {
      @include flex(column, center, flex-start, 16px);

      .user-register-handler,
      .user-select-handler,
      .user-search-handler {
        width: 100%;
      }
    }
  }
}
