$generic-white: #fff;
$generic-black: #000;

$neutral-50: #FAFAFA;
$neutral-100: #F0F0F0;
$neutral-200: #D6D6D6;
$neutral-300: #CCCCCC;
$neutral-400: #ABABAB;
$neutral-500: #919191;
$neutral-600: #6E6E6E;
$neutral-700: #575757;
$neutral-800: #3B3B3B;
$neutral-900: #212121;

$primary-50: #F9F7FD;
$primary-100: #EFEBF9;
$primary-200: #E3DBF5;
$primary-300: #D4C7F0;
$primary-400: #C4B3EA;
$primary-500: #A78DE0;
$primary-600: #906FD8;
$primary-700: #7A53D0;
$primary-800: #6034C0;
$primary-900: #381F70;
$primary-shadow: #a78de048;

$secondary-50: #FCF6FE;
$secondary-100: #F8ECFD;
$secondary-200: #F2DEFC;
$secondary-300: #EBCCFA;
$secondary-400: #E2B5F7;
$secondary-500: #DCA7F6;
$secondary-600: #D18BF3;
$secondary-700: #C266EF;
$secondary-800: #AA2AE9;
$secondary-900: #6F109D;

$warning-100: #FEF3C7;
$warning-200: #FDE68A;
$warning-300: #FCD34D;
$warning-400: #F59E0B;
$warning-500: #D97706;

$error-100: #FEE2E2;
$error-200: #FECACA;
$error-300: #F87171;
$error-400: #EF4444;
$error-500: #DC2626;
$error-shadow: #dc262646;

$success-100: #F0FDF4;
$success-200: #BBF7D0;
$success-300: #4ADE80;
$success-400: #22C55E;
$success-500: #16A34A;


@mixin flex($d, $j, $a, $g: 0, $w: nowrap) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
  gap: $g;
  flex-wrap: $w;
}