@use "./globals" as *;

// auth
@use "./components/auth/auth_container.scss";
@use "./components/auth/auth.scss";

// elements
@use "./components/elements/inputs/input.scss";
@use "./components/elements/main/navbar.scss";
@use "./components/elements/main/loader.scss";
@use "./components/elements/main/modal.scss";
@use "./components/elements/main/cards.scss";
@use "./components/elements/handlers/pagitnation.scss";
@use "./components/elements/handlers/select.scss";
@use "./components/elements/main/list.scss";

// admin
@use "./components/admin/container.scss";
@use "./components/admin/home.scss";
@use "./components/admin/settings.scss";
@use "./components/admin/settings_options.scss";

// admin/quotes
@use "./components/admin/quotes.scss";
@use "./components/admin/quotes/history.scss";
@use "./components/admin/quotes/new.scss";
@use "./components/admin/quotes/new_stage_2.scss";
@use "./components/admin/quotes/new_stage_3.scss";

// admin/users
@use "./components/admin/users.scss";
@use "./components/admin/users/register.scss";
@use "./components/admin/users/details.scss";
@use "./components/admin/users/delete.scss";

// suspenses
@use "./components/elements/suspenses/settings_suspense.scss";

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: $neutral-900;
  background-color: $neutral-50;
  font-family: "Poppins";
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}

button[type="button"],
button[type="submit"],
.button {
  all: unset;
  cursor: pointer;
  @include flex(row, center, center);
  background-color: $primary-600;
  padding: 16px;
  border-radius: 12px;
  color: $generic-white;

  &:hover {
    background-color: $primary-700;
  }

  &:active {
    background-color: $primary-800;
  }

  &:disabled {
    background-color: $neutral-100;
    color: $neutral-300;
    cursor: default;
  }
}

.rotate {
  rotate: 180deg;
}

.user-photo-container {
  @include flex(row, center, center);
  overflow: hidden;
  width: 104px;
  height: 104px;
  border-radius: 18px;
  background-color: $primary-200;

  .user-photo {
    width: 70%;
    height: 80%;
    opacity: 25%;
  }
}

@media screen and (max-width: 768px) {
  .only-mobile {
    display: none;
  }
}
