@use "./globals" as *;

// auth
@use "./components/auth/auth_container.scss";
@use "./components/auth/auth.scss";

// elements
@use "./components/inputs/input.scss";

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: $neutral-900;
  background-color: $neutral-50;
  font-family: 'Poppins';
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}
