@use "../../../globals" as *;

.custom-list-container {
  all: unset;
  list-style: none;
  @include flex(column, flex-start, center);
  width: 96%;
  background-color: $generic-white;
  padding: 24px;
  border-radius: 24px;
  margin-bottom: 24px;

  li {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 16px 0;

    span {
      width: 25%;
      font-size: 14px;
      line-height: 22px;
      color: $primary-500;

      &:first-child {
        margin-left: 12px;
      }

      &:last-child {
        margin-right: 12px;
      }
    }
  }

  .custom-list-header {
    background-color: $primary-50;
    border-radius: 12px;
  }

  .custom-list-row {
    border-bottom: 1px solid $primary-50;

    span {
      color: $neutral-800;

      &:last-child {
        @include flex(row, space-between, center);

        button {
          all: unset;
          color: $primary-500;
          font-weight: 500;
          margin-right: 8px;
        }
      }

      .custom-list-state {
        @include flex(row, flex-start, center, 8px);
        width: auto;
        background-color: $secondary-50;
        padding: 4px 0;
        padding-right: 12px;
        border-radius: 24px;
        color: $neutral-800;
        user-select: none;

        .custom-list-state-dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-left: 12px;
        }

        p {
          all: unset;
        }
      }
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $neutral-10;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .custom-list-container {
    li {
      span {
        width: 40%;

        &:nth-child(3) {
          width: 20%;
        }
      }
    }

    .custom-list-row {
      span {
        &:nth-child(3) {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
