@use "../../../globals" as *;

.generic-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000;
  @include flex(row, center, center);

  & .generic-modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $neutral-shadow;
    z-index: 9100;
  }

  & form {
    z-index: 9200;
    background-color: $generic-white;
    padding: 32px;
    border-radius: 24px;
    min-width: 560px;
    max-height: 85vh;
    @include flex(column, space-between, center, 24px);

    & .generic-modal-header {
      width: 100%;
      @include flex(row, space-between, center);

      & h1 {
        all: unset;
        font-size: 24px;
        color: $neutral-800;
        font-weight: 600;
      }
    }

    & .generic-modal-content {
      width: 100%;
      @include flex(column, space-between, flex-start, 24px);

      & p {
        all: unset;
        font-size: 16px;
        color: $neutral-800;
      }

      & .custom-select-container {
        width: 100%;

        & .custom-select {
          & .input-container {
            margin: 0;
          }

          & .custom-select-options-container {
            top: 60px;
          }
        }
      }

      & .discount-voucher-type-select {
        @include flex(row, flex-start, center, 24px);

        & button {
          all: unset;
          cursor: pointer;
          @include flex(row, center, center, 8px);
        }
      }
    }

    & .new-quote-form-customer {
      width: 100%;
      background-color: $primary-50;
      border-radius: 24px;
      padding: 40px 0;
      @include flex(row, space-between, center, 16px);

      & .user-photo-container {
        overflow: hidden;
        width: 64px;
        height: 64px;
        border-radius: 18px;
        background-color: $primary-200;
        margin-left: 32px;
        @include flex(row, center, center);

        & .user-photo {
          width: 70%;
          height: 80%;
          opacity: 25%;
        }
      }

      & .new-quote-form-customer-content {
        width: 85%;
        @include flex(column, center, flex-start, 8px);

        & p {
          all: unset;
        }

        & .new-quote-form-customer-content-title {
          @include flex(row, flex-start, center, 16px);

          & p {
            &:first-child {
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              color: $neutral-800;
            }

            &:last-child {
              font-size: 16px;
              line-height: 24px;
              color: $neutral-500;
            }
          }
        }

        & p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: $neutral-800;
        }
      }

      & button[type="button"] {
        all: unset;
        cursor: pointer;
        margin-right: 32px;
      }
    }

    & .generic-modal-description {
      all: unset;
      width: 100%;
      color: $neutral-800;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }

    & .generic-modal-buttons {
      width: 100%;
      margin-top: 16px;
      @include flex(row, flex-end, center, 16px, wrap);

      & button {
        padding: 12px 16px;
      }

      & button[type="button"] {
        background-color: $primary-100;
        color: $primary-600;
        white-space: nowrap;

        &:hover {
          background-color: $primary-200;
          color: $primary-500;
        }

        &:active {
          background-color: $primary-300;
          color: $primary-400;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .generic-modal {
    & form {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      overflow: auto;
      padding: 0;
      border-radius: 0;

      & .generic-modal-header,
      & .generic-modal-content,
      & .generic-modal-buttons {
        width: 90%;
      }

      .generic-modal-header {
        margin-top: 24px;
      }

      & .generic-modal-content {
        height: 100%;
      }

      & .generic-modal-buttons {
        margin-bottom: 24px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .generic-modal {
    & form {
      & .generic-modal-header,
      & .generic-modal-content,
      & .generic-modal-buttons {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .generic-modal {
    form {
      .generic-modal-header,
      .generic-modal-content,
      .generic-modal-buttons {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .generic-modal {
    form {
      .generic-modal-header,
      .generic-modal-content,
      .generic-modal-buttons {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .generic-modal {
    form {
      .generic-modal-header,
      .generic-modal-content,
      .generic-modal-buttons {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 290px) {
  .generic-modal {
    form {
      .generic-modal-header,
      .generic-modal-content,
      .generic-modal-buttons {
        width: 40%;
      }
    }
  }
}
