@use "../../../globals" as *;

.navbar-container {
  width: 15%;
  background-color: $primary-900;
  overflow: hidden;
  position: fixed;
  height: 100%;
  z-index: 8000;
  @include flex(column, space-between, center);

  & .navbar-header {
    width: 90%;
    min-height: 50%;
    margin-top: 24px;
    @include flex(column, flex-start, center, 56px);

    & button[type="button"] {
      all: unset;
      align-self: flex-start;
      cursor: pointer;
      margin-bottom: 5px;
    }

    & .navbar-content {
      width: 100%;
      @include flex(column, space-between, center, 24px);

      & .navbar-links-container {
        all: unset;
        list-style: none;
        width: 100%;
        margin-top: 24px;
        @include flex(column, space-between, center, 8px);

        & li {
          width: 100%;

          & .link {
            text-decoration: none;
            padding: 12px 0;
            border-radius: 12px;
            @include flex(row, flex-start, center, 8px);

            & img {
              margin-left: 16px;
            }

            & span {
              color: $generic-white;
            }
          }

          & .is-focus {
            background-color: #d4c7f049;
          }
        }
      }
    }
  }

  & .navbar-footer {
    width: 90%;
    margin-bottom: 24px;
    @include flex(column, flex-start, center, 32px);

    & .navbar-user {
      all: unset;
      width: 100%;
      margin-left: 16px;
      @include flex(column, flex-start, flex-start, 0);

      & img {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 16px;
      }

      & .navbar-user-name {
        font-size: 16px;
        font-weight: 400;
        color: $generic-white;
        margin-top: 8px;
      }

      & .navbar-user-role {
        color: $primary-600;
      }
    }

    & button[type="button"] {
      all: unset;
      cursor: pointer;
      color: $generic-white;
      align-self: flex-start;
      line-height: 24px;
      padding: 12px 16px;
      @include flex(row, flex-start, center, 8px);
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 100%;

    & .navbar-header {
      gap: 16px;

      & .navbar-logo {
        display: none;
      }
    }
  }

  .hide-navbar {
    height: auto;
    background-color: transparent;

    & .navbar-header {
      & .navbar-content {
        display: none;
      }
    }

    & .navbar-footer {
      display: none;
    }
  }
}
