@use "../../../globals" as *;

.pagination-handlers-container {
  width: 100%;
  margin-bottom: 32px;
  @include flex(row, flex-end, center, 8px);

  & button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    @include flex(row, center, center);

    &:hover {
      background-color: $primary-200;
    }
  }

  & .is-selected {
    background-color: $primary-100;
  }
}
