@use "../../../globals" as *;

.custom-select-container {
  @include flex(column, center, flex-start, 6px);

  .custom-select-label {
    font-size: 14px;
    color: $neutral-800;
    margin-left: 8px;
  }

  .custom-select {
    @include flex(column, flex-start, normal);
    width: 100%;
    position: relative;
    border-radius: 8px;

    .custom-select-content-container {
      @include flex(row, flex-start, center);
      border: 1px solid $neutral-200;
      border-radius: 8px;
      padding: 0 12px;
      height: 44px;
      cursor: pointer;

      .custom-select-content {
        width: 100%;
      }
    }

    .input-focused {
      box-shadow: 0 0 0 4px #efebf9;
      border: 1px solid $primary-500;
    }

    .option-selector-disabled {
      color: #b3b3b3;
    }

    .custom-select-options-container {
      all: unset;
      list-style: none;
      cursor: pointer;
      border-radius: 8px;
      background: #fff;
      overflow: hidden;
      box-shadow: 0 2px 12px 0 $neutral-shadow-50;
      border: 1px solid $neutral-100;
      min-height: 100px;
      max-height: 300px;
      overflow-y: auto;

      position: absolute;
      width: 100%;
      right: 0;
      top: 50px;
      z-index: 1;

      .option-selector-disabled {
        color: #b3b3b3;
      }

      .custom-select-option {
        @include flex(row, space-between, center);
        padding: 10px 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 1px solid $neutral-100;

        .icon {
          margin-right: 16px;
        }

        .select-option-content {
          @include flex(row, flex-start, center);
          user-select: none;
        }
      }

      .is-disabled {
        cursor: default;
        color: #b3b3b3;
        background-color: $neutral-50;
      }
    }

    .is-placeholder {
      color: $neutral-400;
    }
  }
}

.custom-select-option[data-is-selected="true"] {
    background-color: $neutral-50;
    color: $neutral-700;
    cursor: default;
}

.custom-select-option:hover {
  background-color: $neutral-50;
}

.custom-select-option:last-child {
  border-bottom: none;
}
