/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Poppins","arguments":[{"weight":["400","500","700","800"],"subsets":["latin"]}],"variableName":"PoppinsSans"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/fe0777f1195381cb-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/eafabf029ad39a43-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/f10b8e9d91f3edcb-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/8888a3826f4a3af4-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/a1386beebedccca4-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/b957ea75a84b6ea7-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/5fb25f343c7550ca-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/7db6c35d839a711c-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Poppins Fallback';src: local("Arial");ascent-override: 93.62%;descent-override: 31.21%;line-gap-override: 8.92%;size-adjust: 112.16%
}.__className_bdf1f9 {font-family: 'Poppins', 'Poppins Fallback';font-style: normal
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/styles/index.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.auth-container .auth-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  height: 95%;
}
.auth-container .auth-content .auth-screen-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 50%;
  min-width: 50%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.auth-container .auth-content .auth-screen-container img {
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 860px) {
  .auth-container .auth-content .auth-screen-container {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .auth-container .auth-content {
    height: 94%;
  }
}
@media screen and (max-height: 550px) {
  .auth-container .auth-content {
    height: 93%;
  }
}
@media screen and (max-height: 500px) {
  .auth-container .auth-content {
    height: 92%;
  }
}
@media screen and (max-height: 450px) {
  .auth-container .auth-content {
    height: 91%;
  }
}
@media screen and (max-height: 400px) {
  .auth-container .auth-content {
    height: 90%;
  }
}
@media screen and (max-height: 300px) {
  .auth-container .auth-content {
    height: 85%;
  }
}
@media screen and (max-height: 200px) {
  .auth-container .auth-content {
    height: 80%;
  }
}
@media screen and (max-height: 100px) {
  .auth-container .auth-content {
    height: 70%;
  }
}
.auth-container .auth-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: #A78DE0;
  color: #fff;
  text-align: center;
  height: 80px;
}

@media screen and (max-width: 860px) {
  .auth-container .auth-footer {
    font-size: 14px;
  }
}
.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  flex-wrap: nowrap;
  width: 50%;
  height: 100%;
  overflow-x: auto;
}
.auth-form-container .otw-logo {
  margin-bottom: 12px;
}
@media screen and (max-height: 500px) {
  .auth-form-container .otw-logo {
    display: none;
  }
}
.auth-form-container .auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
  width: 45%;
  height: 110%;
}
.auth-form-container .auth-form .password-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  width: 100%;
}
.auth-form-container .auth-form .password-header .link,
.auth-form-container .auth-form .password-header button[type=button] {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
.auth-form-container .auth-form .password-header h3 {
  font-size: 16px;
  font-weight: 600;
}
.auth-form-container .auth-form .inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
}
.auth-form-container .auth-form .inputs-container .auth-form-error {
  font-size: 14px;
  color: #DC2626;
  margin-left: 8px;
  margin-top: 8px;
}
@media screen and (max-height: 500px) {
  .auth-form-container .auth-form .inputs-container {
    margin-top: 24px;
  }
}
.auth-form-container .auth-form .code-inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  width: 100%;
}
.auth-form-container .auth-form .code-inputs-container .code-input {
  all: unset;
  width: 16%;
  height: 54px;
  border-radius: 12px;
  border: 1px solid #CCCCCC;
  padding-left: 25px;
}
.auth-form-container .auth-form .code-inputs-container .code-input:focus {
  border: 1px solid #A78DE0;
  box-shadow: 0 0 0 4px rgba(167, 141, 224, 0.2823529412);
}
.auth-form-container .auth-form .code-inputs-container .input-has-error {
  border: 1px solid #DC2626;
  box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.2745098039);
}
.auth-form-container .auth-form .forgotten-password {
  align-self: flex-start;
  font-size: 16px;
  color: #212121;
}
.auth-form-container .auth-form .forgotten-password .password-link {
  all: unset;
  color: #A78DE0;
  text-decoration: none;
  cursor: pointer;
}
.auth-form-container .auth-form .forgotten-password .password-link:hover {
  text-decoration: underline;
}
.auth-form-container .auth-form .resend-code {
  width: 100%;
  color: #212121;
}
.auth-form-container .auth-form .resend-code button[type=button] {
  all: unset;
  cursor: pointer;
  color: #A78DE0;
}
.auth-form-container .auth-form .resend-code button[type=button]:hover {
  text-decoration: underline;
}
.auth-form-container .auth-form .change-password-error {
  color: #DC2626;
  font-size: 14px;
  align-self: flex-start;
  margin-left: 8px;
}
.auth-form-container .auth-form button[type=submit] {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #906FD8;
  color: #fff;
  border-radius: 12px;
  padding: 12px 0;
  margin-top: 32px;
}
.auth-form-container .auth-form button[type=submit]:hover {
  background-color: #7A53D0;
  color: #F0F0F0;
}
.auth-form-container .auth-form button[type=submit]:active {
  background-color: #6034C0;
  color: #D6D6D6;
}
@media screen and (max-height: 470px) {
  .auth-form-container .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1400px) {
  .auth-form-container .auth-form {
    width: 60%;
  }
}
@media screen and (max-width: 860px) {
  .auth-form-container {
    width: 100%;
    gap: 0;
  }
  .auth-form-container .otw-logo {
    margin-top: 16px;
  }
  .auth-form-container .auth-form {
    width: 90%;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 24px;
}
.input-container .input-label {
  font-size: 14px;
  color: #3B3B3B;
  margin-left: 8px;
  margin-bottom: 6px;
}
.input-container .input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 12px;
  cursor: text;
  overflow: hidden;
}
.input-container .input input {
  all: unset;
  width: 100%;
  padding: 12px 16px;
}
.input-container .input img {
  margin-right: 14px;
  cursor: pointer;
}
.input-container .focused-input {
  border: 1px solid #A78DE0;
  box-shadow: 0 0 0 4px rgba(167, 141, 224, 0.2823529412);
}
.input-container .input-has-error {
  border: 1px solid #DC2626;
  box-shadow: 0 0 0 4px rgba(220, 38, 38, 0.2745098039);
}
.input-container .input-error {
  color: #DC2626;
  font-size: 14px;
  margin-top: 8px;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 15%;
  background-color: #381F70;
  overflow: hidden;
}
.navbar-container .navbar-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
  flex-wrap: nowrap;
  width: 90%;
  min-height: 50%;
  margin-top: 24px;
}
.navbar-container .navbar-header button[type=button] {
  all: unset;
  align-self: flex-start;
  cursor: pointer;
}
.navbar-container .navbar-header .navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: nowrap;
  width: 100%;
}
.navbar-container .navbar-header .navbar-content .navbar-links-container {
  all: unset;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 24px;
}
.navbar-container .navbar-header .navbar-content .navbar-links-container li {
  width: 100%;
}
.navbar-container .navbar-header .navbar-content .navbar-links-container li .link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  text-decoration: none;
  padding: 12px 0;
  border-radius: 12px;
}
.navbar-container .navbar-header .navbar-content .navbar-links-container li .link img {
  margin-left: 16px;
}
.navbar-container .navbar-header .navbar-content .navbar-links-container li .link span {
  color: #fff;
}
.navbar-container .navbar-header .navbar-content .navbar-links-container li .is-focus {
  background-color: rgba(212, 199, 240, 0.2862745098);
}
.navbar-container .navbar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  flex-wrap: nowrap;
  width: 90%;
  margin-bottom: 24px;
}
.navbar-container .navbar-footer .navbar-user {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 16px;
}
.navbar-container .navbar-footer .navbar-user img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 16px;
}
.navbar-container .navbar-footer .navbar-user .navbar-user-name {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 8px;
}
.navbar-container .navbar-footer .navbar-user .navbar-user-role {
  color: #906FD8;
}
.navbar-container .navbar-footer button[type=button] {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  color: #fff;
  align-self: flex-start;
  line-height: 24px;
  padding: 12px 16px;
}

.admin-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  gap: 0;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.admin-container .admin-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 85%;
  background-color: #FCF6FE;
}

.admin-home-container {
  overflow: auto;
  width: 95%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #212121;
  background-color: #FAFAFA;
  font-family: "Poppins";
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear,
input[type=password]::-webkit-credentials-auto-fill-button {
  display: none;
}
